#brand > img {
    height: 40px;
}

.shape1 {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
    width: 100%;
}

.shape2 {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    height: 40%;
}

#footer small {
    color: #adadad;
}